<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @principalgroupe.nom %>
</p>

<%= link_to 'Edit', edit_principalgroupe_path(@principalgroupe) %> |
<%= link_to 'Back', principalgroupes_path %>
